= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  .actions
    = form.submit class: "button is-black is-small"


/
  ＜buttonの色変更＞
  is-info
  is-success
  is-warning
  is-danger
  is-white
  is-black

  ＜buttonの大きさ変更＞
  is-small
  is-medium
  is-large